# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  workflow_dispatch:
  schedule:
    - cron: '58 18 * * *' 
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout Repository
      uses: actions/checkout@v4.1.1

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin' 
        architecture: x64

    - name: Make gradlew runnable
      run: |
        chmod +x gradlew

    - name: Build with Gradle
      uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
      with:
        arguments: build

    - name: Archive JAR Artifact
      uses: actions/upload-artifact@v4.0.0
      with:
        name: jar-artifact
        path: ./build/libs/CMRIT2025Leaderboard-1.0-SNAPSHOT.jar

  check:
    needs: build

    runs-on: ubuntu-latest

    steps:

    - name: Download JAR Artifact
      uses: actions/download-artifact@v4.0.0
      with:
        name: jar-artifact
        path: ./build/libs/

    - name: Run JAR File
      run: |
        java -jar ./build/libs/CMRIT2025Leaderboard-1.0-SNAPSHOT.jar

    - name: Archive Generated File
      run: |
        mkdir -p ${{ github.workspace }}/LeaderboardsStorage
        cp -f Leaderboards/* ${{ github.workspace }}/LeaderboardsStorage

    - name: Upload Artifact
      uses: actions/upload-artifact@v4.0.0
      with:
        name: leaderboard-artifact
        path: ${{ github.workspace }}/LeaderboardsStorage

  commit:
    needs: check

    runs-on: ubuntu-latest

    steps:

    - name: Download Artifact
      uses: actions/download-artifact@v4.0.0
      with:
        name: leaderboard-artifact
        path: ./LeaderboardsStorage

    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%d-%m-%Y %H:%M:%S')"

    - name: Commit Generated Excel File
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"
        git add LeaderboardsStorage/*
        git commit -m "Add generated leaderboard data - ${{ steps.date.outputs.date }}"
        git push --force
